$element_colors: (
  'FIRE': red,
  'WATER': blue,
  'EARTH': green,
  'AIR': white,
  'PHYSICAL': black,
  'SIMPLE': darkgrey
);

$card-rarities: (
  'COMMON': lightgrey,
  'UNUSUAL': yellow,
  'RARE': #FFA61A,
  'MYTHICAL': red,
);

$card-kinds: EQUIPMENT INTERCEPT ENCHANT ACTION;
