
div.cardlist
  div.card(
    data-card-id='{{ card.id }}'
    ng-repeat='card in cards track by card.id'
    class='{{ card.elements.join(" ") }}'
  )
    div.name {{ card.name }}
    div.cost
      div.cost-energy(class='energy-{{ cost.energy }}' ng-repeat='cost in card.cost')
        span.cost-quantity {{ cost.quantity }}
        i(class='icon {{ cost.energy }}_bg')
    div.picture
    div.kind(class='kind-{{ card.kind }}')
      i(class='icon' title='{{ card.kind }}')
    div.rarity(class='rarity-{{ card.rarity }}')
      i(class='icon' title='{{ card.rarity }}')
    div.text blah blah blah blah blah blah dfqsef qsf qsef  sqfqs eq
