@import 'elements/core/common/style/colors'
@import 'elements/core/common/style/maps'
@import 'elements/core/common/style/common'
@import 'elements/assets/fonts/_elements-icons.scss'


$card_border_radius: 8px

$card_title_height: 10%
$card_text_height: 30%
$card_bottom_height: 10%
$card_image_height: 100% - $card_text_height - $card_title_height - $card_bottom_height

$card_border_width: 2px
$card_width: 220px
$card_width_total: 220px + $card_border_width * 2
$card_height: 300px
$card_shadow_size: 10px

gamecard
  &.animated
    animation-duration: 0.4s
  &.selected, &:active
    .card
      box-shadow: 0 0 $card_shadow_size * 2 rgba(yellow, 0.8)

.card
  @extend .noselect
  width: $card_width
  height: $card_height
  display: inline-block
  position: relative
  z-index: 10
  border: $card_border_width solid black
  border-radius: $card_border_radius
  box-shadow: 0 0 $card_shadow_size rgba(black, 0.5)
  overflow: hidden
  cursor: pointer

  &:hover
    box-shadow: 0 0 $card_shadow_size * 2 rgba(white, 0.8)

  // Color background
  @each $_name, $_value in $element_colors
    &.#{$_name}
      @extend .#{$_name}_bg
      color: black

  & > div
    position: absolute

  .picture
    z-index: 1
    top: 7%
    width: 100%
    height: $card_image_height
    margin-top: 10px
    background: white
    box-shadow: 0 0 10px rgba(black, 0.8) inset
  .text-box
    @extend .flexbox-col
    z-index: 2
    bottom: $card_bottom_height
    width: 100%
    height: $card_text_height
    background: #AF923E
    .text-inside
      @extend .flexbox-col
      margin: 2%
      border: 1px solid #5F4F1E
      box-shadow: 0 0 3px rgba(black, 0.6) inset
      background: #E6D297
      padding: 1%
      flex: 1
    .flavor-text
      font-size: 0.8em
      font-style: italic
      text-align: right
    .text
      text-align: center

  .name
    z-index: 10
    width: 80%
    border-radius: $card_border_radius 0 0 0
    background: rgba(white, 0.6)
    font-weight: bold
    height: $card_title_height
    .name-inside
      padding: 5px 0 5px 10px


  .card-bottom
    z-index: 10
    background: #AF923E
    bottom: 0
    left: 0
    width: 100%
    height: 10%

  .rarity
    position: absolute
    bottom: 0
    left: 0
    width: 15%
    font-size: 1.5em
    text-align: center
    .icon
      @extend .eli-RARITY
      &:before
        filter: drop-shadow(0 0 1px rgba(0,0,0,1))
    @each $_rarity, $_color in $card-rarities
      &.rarity-#{$_rarity}
        .icon
          color: $_color
  .kind
    position: absolute
    width: 15%
    right: 0
    bottom: 0
    font-size: 1.5em
    text-align: center
    @each $_kind in $card-kinds
      &.kind-#{$_kind}
        .icon
          @extend .eli-#{$_kind}
          &:before
            filter: drop-shadow(0 0 1px rgba(0,0,0,0.6))


  .cost
    z-index: 15
    width: 20%
    text-align: right
    border-radius: 0 $card_border_radius 0 4px
    right: 0
    background: #AF923E
    padding: 0 0 0 3px
    box-shadow: 0 0 4px rgba(0,0,0, 0.8)



.cost-energy
  padding: 2px
  margin: 4px 0
  background: #FFF9E7
  border-radius: 4px 0 0 4px
  box-shadow: 0 0 2px rgba(0,0,0, 0.5)
  .cost-quantity
    font-weight: bold
    padding-right: 4px
    font-size: 1.3em
  .icon
    box-shadow: 0 0 2px rgba(0,0,0, 0.5)
    border: 1px solid grey
    border-radius: 40%
    padding: 2px 2px 1px 2px
  @each $_name, $_value in $element_colors
    &.energy-#{$_name}
      .icon
        @extend .eli-#{$_name}
        &:before
          filter: drop-shadow(0 0 1px rgba(0,0,0,0.6))
