@import 'card'

.cardlist
  display: flex
  flex-wrap: wrap
  .card
    margin: 10px

.cards-column
  position: relative
  width: $card_width_total + $card_shadow_size * 2

.deck-cards
  background: #BDBDCB
  display: flex
  .cards-column
    height: 500px
    overflow: auto

