
a(ui-sref='library.deck.create') Create deck

br
br

div(
    ng-repeat='deck in decks track by deck.id'
)
  a(ui-sref='library.deck.edit({deckId: deck.id})') {{ deck.name }}

  p Heroes
  ul
    li(ng-repeat='hero_id in deck.heroes') {{ hero_id }}



